body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#map {
    width: 60vw;
    height: 80vh;
    border: 1px;
    margin: auto;
    z-index: 0;
}
.button {
    background-color: #008CBA; /* blue */
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.tooltip_img {
    height: 80px;
    width: 80px;
}
.custom-popup .leaflet-popup-content-wrapper {
  padding: 1px 1px 1px;
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:20px;
    }
.custom-popup .leaflet-popup-tip-container {
  width:20px;
  height:15px;
  padding: 1px;
}
