html, body, #map {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#day {
    text-align: center;
    font-weight: bold;
}
#header-bar {
    position: sticky;
    top: 0;
    overflow-y:hidden;
    overflow-x:hidden;
}
#map {
    position: relative;
    height: 80%;
    width: 100%;
    margin: 0px;
    overflow-y:hidden;
    overflow-x:hidden;
}

.stations, .stations svg {
    position: absolute;
}

.stations svg {
    width: 60px;
    height: 20px;
    padding-right: 100px;
    font: 10px sans-serif;
}

.stations circle {
    fill: red;
    stroke: black;
    stroke-width: 1.0px;
}


/*this is the date and time stamp */
#header {
    position: relative;
    margin:0 auto;
    /*display: none;*/
}
#vis {
    position: relative;
    text-align: center;
    margin:0 auto;
}
.dogids {
    font-size: 10px;
}
#inputs {
    position: relative;
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
    /*display: none; */
}
#logo {
    display:none;
    margin-left: auto;
    margin-right: auto;
}
