body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    font-weight: bold;
    color: #063f5c;
    margin: 5px;
    line-height: 1.1;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#viz {
    height: 80vh;
    width: 100vh;
    display: inline-block;
}
.d3plus_label {
  fill: #000000; /* text in viz */
}
.button {
    background-color: #b3b3cc;/*#e7e7e7; /* Grey */
    border: none;
    color: black;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#level {
  padding-bottom: 5px;
}
