html, body, #map {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#day {
    text-align: center;
    font-weight: bold;
}
#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 75%;
}

.stations, .stations svg {
    position: absolute;
}

.stations svg {
    width: 60px;
    height: 20px;
    padding-right: 100px;
    font: 10px sans-serif;
}

.stations circle {
    fill: red;
    stroke: black;
    stroke-width: 1.0px;
}
#header {
    position: relative;
    margin:0 auto;
}
#vis {
    position: relative;
    text-align: center;
    margin:0 auto;
}
.dogids {
    font-size: 10px;
}
#inputs {
    position: static;
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
}
#radios {
    font-size: 12px;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
